#covid-tracker.table {
  margin-top: 20px;
  overflow: scroll;
  color: #6a5d5d;
  background-color: white;
  height: 400px;
}

#covid-tracker.table tr {
  display: flex;
  justify-content: space-around;
}

#covid-tracker.table td,
#covid-tracker.table th {
  padding: 0.5rem;
  border: none;
}

#covid-tracker.table tr:nth-of-type(even) {
  background-color: #baeea0;
}
