.widget-container,
.widget-text-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: left;
}

.widget-button {
  padding: 0.5rem;
  border-radius: 25px;
  background: transparent;
  border: 1px solid green;

  cursor: pointer;
  font-size: 1.5rem;
}
#widget.widget-button-primary {
  width: 40%;
  margin: 5px;
}

#widget ul {
  width: 70%;
  text-align: left;
  list-style-type: circle;
  font-size: 0.9rem;
  color: black;
}
#widget > ul li {
  background: grey;
  padding: 5px;
  margin: 5px;
  font-size: 1.2rem;
}
#widget a {
  color: beige;
  font-size: 1rem;
}
.list-item {
  text-align: left;
  font-size: 0.9rem;
}
.item-url {
  text-decoration: none;
  margin: 6px;
  display: block;
  background-color: cadetblue;
  padding: 8px;
  border-radius: 2px;
}
